---
import Layout from "../../../layouts/Layout.astro";
import { allTypes } from "../../../pokemon_types";
import Pill from "../../../components/Pill.astro";
import PokemonPill from "../../../components/PokemonPill.astro";
import PageContent from "../../../components/PageContent.astro";
import TypeList from "../../../components/TypeList.astro";
import TypeListItem from "../../../components/TypeListItem.astro";
import BlockLink from "../../../components/BlockLink.astro";
---

<Layout title="Pokemon Go Companion">
  <PageContent>
    <div>
      <h2>How to defeat</h2>

      <p class="my-4">
        Find out what attacks one should use to defeat a certain pokemon type.
      </p>

      <div transition:name="typelist-defense" transition:animate="initial">
        <TypeList>
          {
            allTypes.map((type) => (
              <TypeListItem>
                <BlockLink href={`/pokemon-go-companion/types/defense/${type}`}>
                  <PokemonPill interactive type={type} />
                </BlockLink>
              </TypeListItem>
            ))
          }
        </TypeList>
      </div>
    </div>

    <div class="my-8">
      <h2>Dual Types</h2>

      <p class="mb-4">
        Some pokemons belong to not one but two types.
        Check how it affects the streght and weakness of them with the Dual Types app.
      </p>

      <a href="/pokemon-go-companion/types/defense/party" class="block w-4">
        <Pill
          color={'#3b82f6'}
          interactive
        >
          Try now
        </Pill>
      </a>
    </div>
  </PageContent>
</Layout>

<style>
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 16px;
  }
  li {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .party-block {
    margin-top: 12px;
  }
</style>
