---
import Layout from "../../../layouts/Layout.astro";
import { allTypes } from "../../../pokemon_types";
import PokemonPill from "../../../components/PokemonPill.astro";
import PageContent from "../../../components/PageContent.astro";
import TypeList from "../../../components/TypeList.astro";
import TypeListItem from "../../../components/TypeListItem.astro";
import BlockLink from "../../../components/BlockLink.astro";
---

<Layout title="Pokemon Go Companion">
  <PageContent>
    <div>
      <h2>How to defeat</h2>

      <TypeList>
        {
          allTypes.map((type) => (
            <TypeListItem>
              <BlockLink href={`/pokemon-go-companion/types/defense/${type}`}>
                <PokemonPill interactive type={type} />
              </BlockLink>
            </TypeListItem>
          ))
        }
      </TypeList>
    </div>
  </PageContent>
</Layout>

<style>
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 16px;
  }
  li {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  a {
    color: white;
    display: flex;
    gap: 1em;
    align-items: center;
    text-decoration: none;
    width: 100%;
  }

  a span {
    text-transform: uppercase;
  }
</style>
