.defense-party-app-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.defense-matchup-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.defense-matchup-grid > div {
  background-image: linear-gradient(
    90deg,
    rgba(234, 234, 234, 0.1) 0%,
    rgba(234, 234, 234, 0.15) 100%
  );
}
