.pill {
  width: 100%;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  display: flex;
  gap: 8px;
  min-width: 145px;
  max-width: fit-content;
  background-image: radial-gradient(
    circle at 50% 2.3e2%,
    rgba(255, 255, 255, 0.33) 0%,
    rgba(0, 0, 0, 0.33) 75%
  );
  font-size: 16px;
  line-height: 1.5;
}

.pill.is-interactive {
  cursor: pointer;
}

.pill.is-interactive:hover,
.pill.is-interactive:focus {
  outline: 1px solid #fff;
}

.pill.is-interactive:active {
  outline-offset: 2px;
}
