.attack-party-app-wrapper {
  max-width: 100%;
  overflow-x: scroll;
}

.attack-party-app-list {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.attack-party-app-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attack-matchup-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  max-width: 1000px;
  margin: 16px auto;
}
