.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 70px;
  height: 40px;
  /* background: color-mix(in srgb, currentColor 30%, transparent); */
  transition: background-color 0.2s;
  background-color: #333;
  background-image: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0.3) 0%,
    rgba(34, 34, 34, 0.5) 100%
  );
  border-radius: 30px;
  position: relative;
  user-select: none;
}

.react-switch-label.is-active {
  /* background: #1aa3ad; */
  background-color: currentColor;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  transition: background-color 0.1s, transform 0.3s;
  transform: translateX(2px);
  background-color: #333;
  border: 1px solid #999;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  transform: translateX(33px);
  background: currentColor;
  border: 1px solid currentColor;
}

.react-switch-label:active .react-switch-button {
  width: 35px;
}

.react-switch-button-icon {
  width: 100%;
  height: 100%;
}
