---
import Layout from "../layouts/Layout.astro";
import Emblem from "../components/Emblem.astro";
import { allTypes } from "../pokemon_types";
import { pokemonTypesConfig } from "../pokemon_types_config";
---

<Layout title="Pokemon Go Companion">
  <main>
    <h1 class="text-gradient">Pokemon Go Companion</h1>

    <div>
      <h2>Attack Types</h2>

      <ul role="list" class="link-card-grid">
        {
          allTypes.map((type) => (
            <li>
              <a href={`/pokemon-go-companion/types/attack/${type}`}>
                <Emblem
                  image={pokemonTypesConfig[type].image}
                  color={pokemonTypesConfig[type].color}
                />

                <span>{type}</span>
              </a>{" "}
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  li {
    list-style: none;
    margin: 1em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  a {
    color: white;
    display: flex;
    gap: 1em;
    align-items: center;
    text-decoration: none;
  }

  a span {
    text-transform: uppercase;
  }
</style>
