---
import type { InferGetStaticParamsType } from "astro";
import PokemonPill from "../../../components/PokemonPill.astro";
import Layout from "../../../layouts/Layout.astro";
import { allTypes } from "../../../pokemon_types";
import { getStrongMatchups, getWeakMatchups } from "../../../matchups";

export function getStaticPaths() {
  return allTypes.map((type) => ({ params: { type } }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { type } = Astro.params as Params;

const strongMatchups = getStrongMatchups(type);
const weakMatchups = getWeakMatchups(type);
---

<Layout title={`Pokemon Go Companion - ${type} attack`}>
  <div><PokemonPill type={type} /></div>

  <div>Attack</div>

  <div>
    Strong against
    <ul>
      {
        strongMatchups.map((t) => (
          <li>
            <div>
              <PokemonPill type={t} />
            </div>
          </li>
        ))
      }
    </ul>
  </div>

  <div>
    Weak against
    <ul>
      {
        weakMatchups.map((t) => (
          <li>
            <div>
              <PokemonPill type={t} />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  div {
    color: white;
  }

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  li > div {
    display: flex;
  }
</style>
