---
import Layout from "../../../layouts/Layout.astro";
import { allTypes } from "../../../pokemon_types";
import Pill from "../../../components/Pill.astro";
import PokemonPill from "../../../components/PokemonPill.astro";
import PageContent from "../../../components/PageContent.astro";
import TypeList from "../../../components/TypeList.astro";
import TypeListItem from "../../../components/TypeListItem.astro";
import BlockLink from "../../../components/BlockLink.astro";
import AttackTypesIntro from "../../../components/AttackTypesIntro.astro";
---

<Layout title="Pokemon Go Cheatsheet">
  <PageContent>
    <div>
      <AttackTypesIntro />

      <div transition:name="typelist-attack" transition:animate="initial">
        <TypeList>
          {
            allTypes.map((type) => (
              <TypeListItem>
                <BlockLink href={`/types/attack/${type}`}>
                  <PokemonPill interactive type={type} />
                </BlockLink>
              </TypeListItem>
            ))
          }
        </TypeList>
      </div>
    </div>

    <div class="my-8">
      <h2>Attacks Coverage</h2>

      <p class="mb-4">Learn what coverage your party has with the Attacks coverage app.</p>

      <a href="/types/attack/party" class="block w-4">
        <Pill
          color={'#3b82f6'}
          interactive
        >
          Try now
        </Pill>
      </a>
    </div>
  </PageContent>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
