
<h2 class="my-6">Attack type</h2>

<p class="my-4">
  Find out which pokemon types will take extra damage from your attacks.
</p>

<style>
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
</style>
