<h2 class="my-6">How to defeat</h2>

<p class="my-4">
  Find out what attacks one should use to defeat a certain pokemon type.
</p>

<style>
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
</style>
