 <div class="container mx-auto mt-24">
  <div class="border border-solid rounded-lg border-purple-600 text-white p-8 my-12 flex flex-col md:flex-row space-between items-center justify-between relative overflow-hidden">
      <!-- LEFT PART -->
      <div class="flex flex-col lg:ml-14 xl:ml-28 max-w-sm lg:max-w-xl z-10">
          <h4 class="text-3xl text-center md:text-left font-bold text-white md:pb-2">
              Help us improve the cheatsheet!
          </h4>
          <!-- <p class="text-center md:text-left text-white opacity-70 md:pb-6">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          </p>
          <p class="text-xs text-red-200 hidden md:block">
              consectetur adipiscing elit
          </p> -->
      </div>


      <!-- RIGHT PART -->
      <div class="pt-8 md:pt-0 justify-center lg:ml-auto z-10">
          <a href="https://byd5xay149t.typeform.com/to/ph51jFtX" target="_blank"
              class="px-8 py-4 text-center text-sm text-purple-500 uppercase bg-white font-display rounded-full transition duration-200 hover:bg-purple-600 hover:text-white">
                  Give feedback
          </a>
      </div>

      <!-- ATTENTION -->
      <!-- <p class="pt-8 text-xs block md:hidden z-10 text-white">
              consectetur adipiscing elit
      </p> -->

      <!-- DÉCORATION -->
      <!-- <div class="absolute bg-red-400 opacity-60 w-96 h-96 -top-10 -right-16 md:w-[800px] md:h-[800px] md:left-[45%] md:top-[-150%] rounded-full shadow-2xl z-0"></div> -->
  </div>
</div>
