---
interface Props {
  showLogo?: boolean;
}

const { showLogo = true } = Astro.props;
---

<header>
  {
    showLogo && (
      <a
        href="/pokemon-go-companion"
        transition:name="logo"
        transition:animate="initial"
        class="logo text-gradient"
      >
        PGC
      </a>
    )
  }
  <nav>
    <a href="/pokemon-go-companion/types/attack">Attack</a>
    <a href="/pokemon-go-companion/types/defense">Defense</a>
    <a href="/pokemon-go-companion/grunt">Grunts</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
    padding: 1em 0;
    gap: 1em;
  }

  .logo {
    position: absolute;
  }

  nav {
    display: flex;
    gap: 1em;
    justify-content: center;
    width: 100%;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
