---
import Emblem from "./Emblem.astro";

interface Props {
  image: string;
  color: string;
}

const { image, color } = Astro.props;
---

<div style={{ backgroundColor: color }}>
  <Emblem color={color} image={image} />
  <span><slot /></span>
</div>

<style>
  div {
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    display: flex;
    gap: 8px;
    min-width: 145px;
    background-image: radial-gradient(
      circle at 50% 2.3e2%,
      rgba(255, 255, 255, 0.33) 0%,
      rgba(0, 0, 0, 0.33) 75%
    );
  }

  span {
    font-size: 20px;
    line-height: 1.6;
  }
</style>
