---
import { ViewTransitions } from "astro:transitions";
import "../reset.css";
import Header from "../components/Header.astro";
import Analytics from "../components/Analytics.astro";
import FeedbackForm from "../components/FeedbackForm.astro";
import PageContent from "../components/PageContent.astro";

interface Props {
  title: string;
  showLogo?: boolean;
}

const { title, showLogo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Pokemon Go Companion" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/pokemon-go-cheatsheet/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/pokemon-go-cheatsheet/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/pokemon-go-cheatsheet/favicon-16x16.png">
    <link rel="manifest" href="/pokemon-go-cheatsheet/site.webmanifest">
    <link rel="mask-icon" href="/pokemon-go-cheatsheet/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/pokemon-go-cheatsheet/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Pokemon Go Compagnion">
    <meta name="application-name" content="Pokemon Go Compagnion">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/pokemon-go-cheatsheet/browserconfig.xml">
    <meta name="theme-color" content="#0F172A">
    <meta property="og:image" content="/pokemon-go-cheatsheet/android-chrome-512x512.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    {import.meta.env.MODE === "production" && (
      <Analytics />
    )}
  </head>
  <body class="text-slate-200">
    <Header showLogo={showLogo} />

    <slot />

    <PageContent>
      <FeedbackForm />
    </PageContent>

    <style is:global>
      :root {
        --accent: 217 119 6;
        --accent-light: 253 230 138;
        --accent-dark: 146 64 14;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #0f172a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
